@font-face {
    font-family: 'main';
    src: url("../../public/Assets/Font/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf");
  }
  body{
    margin:0 !important;
    box-sizing: border-box !important;
    font-family: main !important;
    padding: 0 !important;
   
  }
  #badge{
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    top:-34% !important;
    left:24% !important;
  }
  #search{
    color:silver;
  }
  #justify{
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    top:35%;
    left: 51.5%;
    padding-right: .2em !important;
    padding-left: .2em !important;
    vertical-align: middle !important;
    & svg{
       position: absolute;
       bottom: 11%;
       right: 15%;
    }
  }
  .active{
    background-color: #dc3545;
    color: white !important;
    border: 0px;

  }
  .inactive{
    background-color: silver;
  }
  .btnn{
    border: none !important;
    color: gray;
    margin: 0% !important;
  }
  #first{
    width: 80% !important;
    border-bottom: 3px solid green;
    text-align: center;
  }
  #second{
    width: 20% !important;
    border-bottom: 3px solid red;
    text-align: center;
    margin-right: .2rem;
  }
  #clock{
     direction: rtl;
  }
  .container-fluids{
    margin-left: 2.5rem;
    margin-right: .9rem;
  }
  #forth{
    width: 30px;
    height: 30px;
    background-color: #dc3545;
    color: white;
    text-align: center;
    border-radius: 50%;
    
}