section{
    width: 100%;
    padding: 1rem;
    background-color: #f8f8f8;
    border: 2px solid rgba(192, 192, 192, 0.4);
}
.container{
    width: 80%;
    margin: auto;
}
.add{
    width: 100%;
    border:  2px solid rgba(192, 192, 192, 0.4);
    background-color: white;
    border-radius: 20px;
    outline: 0px;
}
.hash{
    margin-left: 2.3rem;
}
.wrapper{
    width: 80%;
}