footer{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 14.5rem;
    background-color: #f8f8f8;
    border-bottom: 2px solid rgba(192, 192, 192, 0.4);
}
.iconContainer{
    width: 15%;
}
.linkContainer{
    width: 35%;
}